@media (max-width: 768px){
/*categorylist.html*/
    hr{
        width: 100%;
    }
    h2{
        margin-bottom: 30px!important;
        font-weight: 700!important;
    }
    h3{
        margin-top: 40px!important;
        margin-bottom: 40px!important; ;
    }
    h4{
        margin-top: 20px!important;
        margin-bottom: 20px!important;
    }
    input{
        padding: 10px;
    }
    .up{
        position: relative;
        color: red;
        bottom: 5px;
    }
    .circle{
        display: flex;
        justify-content: center;
        padding: 5px;
    }
    .img-circle{
        background-color: #ffffff;
        width: 50px;
        height: 50px;
        padding: 5px;
    }
    .img-circle img{
        width: 100%;
    }
    .top{
        background-color: #fed824;
    }
    .footer1{
        background-color: #ededed;
        margin-top: 75px;
        padding: 15px;
    }
    .foot2{
        font-size: 12px;
        font-family: "OpenSans";
    }
    .foot1{
        font-size: 17px;
    }
    .div-shape{
        display: flex;
        justify-content: center;
    }
    .shape{
        border: 1px solid #799fec;
        border-radius: 30px;
        color: #5386f0;
        width: 400px;
        padding: 15px;
    }
    .support-number{
        color: #000;
    }
    .name{
        font-weight: 700;
    }
    .col-name{
        position: relative;
    }
    .col-name:before{
        display: table;
        content: "";
        position: absolute;
        right: 20px;
        width: 15px;
        height: 15px;
        border-top: 3px solid #dedede;
        border-right: 3px solid #dedede;
        transform: rotate(45deg);
    }
    .name a{
        color: #5386f0;
    }
    .support{
        color: #9d9d9d;
    }
/*celebrateslist.html*/
    .big{
        color: #eb1919;;
        font-size: 45px;
        font-weight: 400;
    }
    .little{
        color: #1f1f1f;
        font-weight: 400;
    }
    .datedesc{
        display: flex;
        align-items: center;
        position: relative;
    }
    .datedesc:after{
        display: table;
        content: "";
        position: absolute;
        right: 20px;
        width: 15px;
        height: 15px;
        border-top: 3px solid #dedede;
        border-right: 3px solid #dedede;
        transform: rotate(45deg);
    }
    .bigtxt{
        color: #195eeb;
        font-size: 20px;
    }
    .littletxt{
        color: #f7a8a8;
        font-weight: 400;
    }
/*main.html*/
    .nam{
        color: #195eeb;
        font-size: 20px;
        font-weight: 600;
    }
/*category.html*/
    .main-scrollmenu{
        overflow-x: auto;
    }
    .scrollmenu{
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        height: 50px;
        line-height: 50px;
        padding: 0 15px;
        width: auto;
        white-space: nowrap;
    }
    .scrollmenu li{
        display: inline-block;
        font-size: 17px;
        height: 50px;
    }
    .scrollmenu li a{
        display: inline-block;
        height: 100%;
        padding: 0 5px;
    }
    .scrollmenu .active a{
        font-weight: 600;
        color: #000;
        border-bottom: 3px solid #fed824;
    }
    .music{
        display: flex;
        align-items: center;
    }
    .music-circle{
        background-image: -moz-linear-gradient( 90deg, rgb(25,94,235) 0%, rgb(87,142,255) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(25,94,235) 0%, rgb(87,142,255) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(25,94,235) 0%, rgb(87,142,255) 100%);
        display: inline-block;
        height: 50px;
        width: 50px;
    }
    .music-circle:after{
        display: table;
        content: "";
        position: relative;
        top: 9px;
        left: 15px;
        border-top: 12px solid transparent;
        border-bottom: 12px solid transparent;
        border-right: 18px solid transparent;
        border-left: 18px solid #fff;
    }
    .music-circle.paused:after{
        display: block;
        content: "";
        position: relative;
        top: 8px;
        left: 8px;
        width: 24px;
        height: 25px;
        border-top: none;
        border-bottom: none;
        border-right: 8px solid #fff;
        border-left: 8px solid #fff;
    }
    .more{
        background-color: #195eeb;
        border: 1px solid;
        border-radius: 40px;
        color: #ffffff;
        padding: 20px 100px;
        text-transform: uppercase;
    }
    .mmore {
        margin-top: 50px;
    }
/*questions.html*/
    ul.supportlist{
        list-style-image: url(/img/check.png);
    }
    ul.supportlist li span{
        color: #2b8c00;
        font-weight: 600;
    }
    .footer3{
        color: #424242;
        font-size: 17px;
        font-weight: 600;
    }
/*page.html*/
    .single.music-circle{
        background-image: -moz-linear-gradient( 90deg, rgb(25,94,235) 0%, rgb(87,142,255) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(25,94,235) 0%, rgb(87,142,255) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(25,94,235) 0%, rgb(87,142,255) 100%);
        display: inline-block;
        height: 100px;
        width: 100px;
    }
    .single.music-circle.paused:after{
        display: block;
        content: "";
        position: relative;
        top: 20px;
        left: 33px;
        width: 24px;
        height: 50px;
        border-top: none;
        border-bottom: none;
        border-right: 8px solid #fff;
        border-left: 8px solid #fff;
    }
    .bfh-phone{
        background-color: #fff6cd!important;
        height: 50px!important;
        font-size: 25px!important;
    }
    .tel{
        position: relative;
    }
    .tel p{
        font-size: 17px;
        font-weight: 600;
        margin-top: 20px;
    }
    .tel:after{
        display: table;
        content: "";
        position: absolute;
        right: 32px;
        top: 70px;
        width: 20px;
        height: 12px;
        border-top: 5px solid #7bb841;
        border-right: 5px solid #7bb841;
        transform: rotate(133deg);
    }
    .radio-left, .radio-right{
        border: 1px solid #e4e4e4;
        border-radius: 10px;
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px;
    }
    .radio-left input, .radio-right input{
        width: 40px;
        height: 20px;
    }
    .radio-left span{
        margin-left: 10px;
    }
    .radio-right span{
        margin-right: 10px;
    }
    .select-month{
        padding: 10px 32px 10px 10px;
        background-color: #fff6cd;
        border-radius: 5px;
        border: none;
    }
    .select-time{
        padding: 10px 10px 10px 10px;
        background-color: #fff6cd;
        border-radius: 5px;
        border: none
    }
    .check-date{
        padding-left: 0!important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bfh-phone-error{
        border-color: #e70000!important;
        color: #a8a8a8!important;
    }
    .your-tel{
        position: relative;
    }
    .your-tel p{
        font-size: 17px;
        font-weight: 600;
        margin-top: 20px;
    }
    .your-tel:after{
        content: 'Необходимо указать телефон';
        color: #e70000;
        font-size: 13px;
    }
    .send-blue{
        background-color: #195eeb;
        border-radius: 10px;
        color: #ffffff;
        font-size: 17px;
        width: 300px;
        height: 50px;
        line-height: 50px;
        margin: 20px auto!important;
        display: block;
    }
/*sms.html*/
    h2.sms-title{
        margin-bottom: 0!important;
    }
    .number, .time{
        font-size: 17px;
    }
    .support-number, .date-time{
        font-weight: 600;
    }
    .row.main-sms{
        margin-right: 0!important;
        margin-left: 0!important;
    }
    .send-sms{
        background-color: #fed824;
        border-radius: 5px;
        padding: 20px!important;
    }
    .sms-nmb{
        border: 0px;
        border-radius: 10px;
        height: 50px;
        width: 100%;
    }
    .sms-cloud{
        position: relative;
    }
    .sms-cloud:before{

    }
    .sms-cloud:after{
        content: "";
        position: absolute;
        top: 38px;
        left: -8px;
        border: 7px solid;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-bottom-left-radius: 10px;
        border-color: transparent transparent #fff transparent;
        -webkit-transform: rotate(300deg);
        -moz-transform: rotate(100deg);
        transform: rotate(300deg);
    }
    @-moz-document url-prefix() {
        .sms-cloud:after {
            content: "";
            position: absolute;
            top: 38px;
            left: -2px;
            border: 7px solid;
            border-bottom-right-radius: 0;
            border-color: transparent transparent #fff transparent;
            transform: rotate(93deg);
        }
    }
    .sms-txt{
        font-size: 17px;
        margin-left: 10px;
    }
    .send-sms p.number{
        font-size: 17px;
        margin-left: 10px;
    }
    .loading{
        margin-top: 10px;
    }
    .load img{
        width: 50%;
    }
    .load-text{
        font-size: 13px;
        padding-right: 5px!important;
    }
    .col-xs-2.text-right.load{
        padding-right: 0;
    }
    .quote{
        font-size: 17px;
        font-family: "OpenSans";
        margin-top: 30px;
    }
    .choose-link{
        background: url("img/visa.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid #195eeb;
        border-radius: 40px;
        height: 50px;
        display: inline-block;
        margin: 0 auto;
        width: 300px;
    }
    .choose-link-yellow{
        background-color: #fed824;
        border-radius: 40px;
        color: #000;
        height: 30px;
        width: 300px;
        margin: 0 auto;
        display: block;
        line-height: 30px;
        margin: 0 auto;
        width: 300px;
        box-shadow: 0 2px 0px #a88e16;
    }
    .choose-questions{
        border: 1px solid #195eeb;
        border-radius: 40px;
        height: 50px;
        line-height: 50px;
    }
/*MKfalse*/
    .next{
        font-size: 17px;
        font-weight: normal;
        line-height: 1.2;
    }
    p.next span{
        font-weight: 600;
    }
/*MKwait*/
    .timer{
        background: url(img/noaccept.jpg);
        background-size: contain;
        font-weight: 600;
        font-size: 45px;
        height: 100px;
        line-height: 100px;
        margin: 0 auto;
        width: 100px;
    }
/*menu.html*/
    .test1, .test2, .test3{
        position: relative;
    }
    #menu{
        position: relative;
        right: 40%;
        top: 12.5px;
    }
    .menu-close{
        color: #ffffff;
        font-size: 35px;
        position: absolute;
        top: -15px;
    }
    .test img{
        position: absolute;
        height: 4px;
        width: 30px;
    }
    .test1 img{
        top: 0;
    }
    .test2 img{
        top: 10px;
    }
    .test3 img{
        top: 20px;
    }
    .menu{
        background-color: #fed824;
        height: 100vh;
    }
    ul.navigation{
        font-size: 17px;
        list-style: none;
        line-height: 2;
    }
    ul.navigation li a{
        color: #000;
        text-decoration: underline;
    }
}


/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
}

/* Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {

}

/* Portrait */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {

}

/* Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {

}